:root{
    --prymery-text-color: #212121;
--title-text-color: #212121;
--accent-color: #2196F3;
--button-text-color: #FFFFFF;
--button-background: #2196F3;
--background-cilir : #FFFFFF;
--color-command-name: #212121;
--color-command-post: #757575;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.body{
    background:#FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
}
/*голова*/
.header{
        background: #FFFFFF;
    color: var(--title-text-color);
}
/**logo**/
.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}


.web_color{
    color: #2196F3;
}
.web_color-a,
.web-color-a{
    color: #000000;
}
.web_color-b{
    color: #FFFFFF;
}
ul{
    list-style: none;
}
/*Navigations*/
.navig_sait .head{
        margin-right: 50px;
}
.navig_sait .head :last-child{
    margin-right: 0px;
}
.navig_sait a{
    color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.navig_sait :focus,
.navig_sait :hover{
    color: var(--accent-color);   
}
.navig_sait{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contakts :focus,
.contakts :hover{
    color: #2196F3;
}
.contakts .contakt{
    margin-right: 50px;
}
.contakts .contakt :last-child{
    margin-bottom: 0px;
}
.contakts{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}
.contakts a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
        color: #757575;


      
}
/*main*/

/*секуия1*/
.name{
    /*геометрия*/

    /*цвет*/
    background: #2F303A;
    color: var(--button-text-color);
    text-align: center;
    width:1600px ;
    height:600px ;
   
       


    /*динамика*/
}
.name_title{
    /*геометрия*/

    /*цвет*/
    margin-bottom:30px ;
    margin-top: 0 ;
 font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1,36;
/* or 136% */

letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 0;

background-color: blue;



    /*динамика*/
}

.section{
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
/*кнопка*/
.button{
    display: inline-block;

color: var(--button-text-color);
background-color: var(--button-background);
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 187% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/*кнопка параметры*/
min-width:200px ;
height: 50px;
left: 700px;
top: 430px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 32px;
margin-right: auto;
margin-left: auto;
padding: 10px 32px;
}

/*секция 2*/
.Benefits-list{
    display: flex;
    padding-right:215px;
    padding-left: 215px;
}
.Benefits-list h3{
    /*геометрия*/

    /*цвет*/
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #212121;
    /*динамика*/
}

.Benefits-list p{
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}
.Benefits-list title{
    color: var(--title-text-color)
  }
.benefits-clarification{
    color: #757575;
    margin-right: 30px;
    width: 270px;
    height: 75px;
}
.title{
    margin-top: 0;
    margin-bottom: 10px;
  
   
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
/*секция 3*/
.image-first-page{
    display: flex;
    padding-right: 215px;
    padding-left: 215px;
    }
    .image-first-page .img-first{
        margin-right: 30px;
        
    }
.what-we-do{
    /**/
    /*Colors*/
    margin-top: 0;
    margin-bottom: 50;
font-weight:700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
    /**/
}
/*наша команда*/
.photo-comand{
    margin-top: 0px;
    margin-bottom: 30px;
}
.name-command{
    margin-top: 20;
    margin-bottom: 10;
}

.xectoin_title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;

}
.comand{
    display: flex;
    padding-right: 215px;
    padding-left: 215px;
    }
    .comand .comand-info{
        margin-right: 30px;
    }
    .comand-info{
     border-radius: 0px 0px 4px 4px;
     background: #FFFFFF;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
.section-comand h3{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--color-command-name);
}
.section-comand p {
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--color-command-post);
}
/*footer*/
.footer{
    background-color:  #2F303A; 
}
.logo-fot,
.logo-foot{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
        letter-spacing: 0.03em;
}
.adress{
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: #FFFFFF;
}
.section-comand{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-comand img{
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;
}

/*адреса*/
.web-color-b{
 color: #FFFFFF;
  
}
.mail,
.telephone{
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color:  rgba(255, 255, 255, 0.6);
}
.adres-foot{
    font-style: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
}


/*ПАРТФОЛИО*/
/*Голова*/
/*секция*/
/*кнопки*/


.port-nav-oll,
.port-nav-web,
.port-nav-application,
.port-nav-design,
.port-nav-marketing{
 font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
        text-align: center;
    letter-spacing: 0.03em;
        color: var(--color-command-name);
        background: #F5F4FA;
border-radius: 4px;
padding: 6px 22px;

}
.port-nav-oll :hover{
    background-color:var(--button-background);  
    color: #FFFFFF; 
}
.botton-nav-portfolio{
    display: flex;
margin-top: 0px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}
.port-nav-marketing:hover,
.port-nav-marketing:active,
.port-nav-marketing:focus,
.port-nav-application:hover,
.port-nav-application:active,
.port-nav-application:focus,
.port-nav-design:hover,
.port-nav-design:active,
.port-nav-design:focus,
.port-nav-web:hover,
.port-nav-web:active,
.port-nav-web:focus,
.port-nav-oll:hover,
.port-nav-oll:active,
.port-nav-oll:focus{
    color: #FFFFFF;
    background-color: var(--button-background);
}
.botton-nav-portfolio .port-nav-oll,
.port-nav-web,
.port-nav-application,
.port-nav-design,
.port-nav-marketing{
    margin-right: 9px;
  
}





















































/*картинки*/
.booton-image{
    margin-top: 0px;
    margin-bottom: 20px;
}


.imagi-partfolio h3{
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-command-name)
}
.imagi-partfolio p {
    margin-top: 0px;
    margin-bottom: 20px;
        font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--color-command-post)
}
.botton-image{
    padding-top:94px;
    padding-bottom: 94px;
}

/*подвал*/
.footer{
background-color: #2F303A;
}
.logo-foot{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
        letter-spacing: 0.03em;}
   
.adress-footer{
 font-size: 14px;
 font-style: normal;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
    }
    .adress-footera{
        color: #FFFFFF;
    }
        


.contakts-footer{
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: orange;
}

/*ДИВЫ*/
.container-button{
    margin-top: 0px;
    margin-bottom: 0px;
}


